<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>


    <!-- 准备好一个容器 -->
    <div id="root">
        <h1>Hello {{name}}</h1>

        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="p in filterPersons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>

    </div>

</body>


<script type="text/javascript">
    Vue.config.productionTip = false //设置为 false 以阻止 vue 在启动时生成生产提示。

    // new Vue({
    //     el:'#root',
    //     data(){
    //         return{
    //             keyWord:'',
    //             name:'邱邱',
    //             persons:[
    //                 {id:'001',name:'马冬梅',age:14,sex:'女'},
    //                 {id:'002',name:'周冬雨',age:24,sex:'女'},
    //                 {id:'003',name:'周杰伦',age:19,sex:'男'},
    //                 {id:'004',name:'温兆伦',age:25,sex:'男'}
    //             ],
    //             filterPersons:[]
    //         }
    //     },
        // 用watch实现
        // watch:{
        //     keyWord:{
        //         immediate:true,
        //         handler(val){
        //             this.filterPersons = this.persons.filter((p)=>{
        //                 return p.name.indexOf(val) !== -1;
        //             });
        //         }     
        //     }
        //     }
    // })
    
    new Vue({
        el:'#root',
        data(){
            return{
                keyWord:'',
                name:'邱邱',
                persons:[
                    {id:'001',name:'马冬梅',age:14,sex:'女'},
                    {id:'002',name:'周冬雨',age:24,sex:'女'},
                    {id:'003',name:'周杰伦',age:19,sex:'男'},
                    {id:'004',name:'温兆伦',age:25,sex:'男'}
                ]
            }
        },
        // computed实现
        computed:{
            filterPersons(){
               return this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1;
                    });
            }
        }
    })
</script>

</html>